body
{
    background-image: url(image/arene.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 0;
}

#main_container
{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 40px;
    border: 2mm ridge lightblue;
    padding: 50px;
    z-index: 1;
    background-color: white;
}

#gameAudio
{
    display: flex;
    flex-direction: column;
}

#main_game
{
    margin: auto;
    width: 500px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

#main_info
{
    width: 700px;
    height: 700px;
    border: 2px solid #10ADED;
    border-radius: 30px;
    margin-right: 100px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.wall
{
    background-color: black;
}

.case
{
    height: 50px;
    width: 50px;
    border: 1px solid black;
    margin: -1px;
    background-repeat: no-repeat;
}

.move
{
    background-color: grey;
}

/* Style des Armes */

.weapon
{
    z-index: 5;
}

.couteau
{
    background-image: url("image/couteau.png");
}

.fusil
{
    background-image: url("image/fusil.png");
}

.fusilaPompe
{
    background-image: url("image/fusilapompe.png");
}

.lanceRoquette
{
    background-image: url("image/lanceroquette.png");
}

/* Style des Joueurs */

.player
{
    z-index: 6;
}

.playerOne
{
    background-image: url("image/joueurUn.png");
}

.playerTwo
{
    background-image: url("image/joueurDeux.png");
}


